html,body{
	margin: 0;
	padding: 0;
	font-family: 'raleway', sans-serif;
}
h2{
	font-size: 45px;
	font-weight: 600;

}
h3{
	font-size: 32px;
	font-weight: 400;

}
h4{
	font-size: 16px;

}
p{
	font-weight: 200;
}
a{
	text-decoration: none;
}

nav{
	box-sizing: border-box;
	height: 64px;
	width: 100%;
	position: fixed;
	z-index: 2;
	background: white;
	padding-left: 24px;
	padding-right: 24px;

}
main{
	position: absolute;
	top: 64px;
}
.logo{
}
h1.logo-type{
	display: inline-block;
	margin-top: 16px;
	margin-bottom: 16px;
}
ul{
	float: right;
	text-align: right;
	display: inline-block;
	padding: 22px;
	margin: 0;
}
li{
	display: inline-block;
	padding-left: 16px;
}
.hero{
	background-color: lightgray;
	padding: 32px 24px;
	width: 100%;
	box-sizing: border-box;
	overflow: auto; 
	
}
.hero img{
	width: 60%;
	padding-right: 24px;
	vertical-align: middle;
}
.hero-text{
	display: inline-block;
	border: 1px solid white;
	vertical-align: middle;
	font-family: 'raleway',sans-serif;
	font-weight: 400;
}
.type1 {font-family: 'Libre Baskerville', serif;
font-size: 55px;

}
button{
	width: 100%;
	padding: 16px;
	color: white;
	background: gray;
	border:none;
	border-radius: 0;
	margin: 0 auto;
	font-family: 'raleway' sans-serif;
	font-size: 22px;
}
.subhero{
	background-color: white;
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
	display: flex;
}
 .left{
	float: left;
	width: 60%;
	padding: 32px 24px;
}
 .right{
	float: left;
	border-left: 1px solid lightgray;
	display: inline-block;
	width: 40%;
	padding-top: 16px;
}
.subhero img{
	width: 100%;
}
.row{
	padding: 16px;
}
.row:hover{
	background-color: gray;
}
.row .text{
	box-sizing: border-box;
	display: inline-block;
	width: 64%;
	vertical-align: middle;
}
.row img{
	width: 35%;
	vertical-align: middle;
	height: auto;
}
.start-learning{
	background-color: lightgray;
	padding: 32px 72px;
	width: 100%;
	box-sizing: border-box;
}
.start-learning h2{
	text-align: center;
}
.card{
	display: inline-block;
	width: 31%;
	background: white;
	margin: 16px;
	height: 500px;
	vertical-align: middle;

}
.card img{
	width: 100%;
}
.card .text{
	padding: 0 24px 24px;
}
.thesis-exhibit{
	background-color: white;
	padding: 0 24px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
}
footer{
	width: 100%;
	box-sizing: border-box;
	height: 96px;
	padding: 24px 24px 36px;
}
footer p,a{
	display: inline-block;
	vertical-align: top;
